/* General Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
}
.image-container {
  position: relative;
  display: inline-block; /* or block if you want it to be a block-level element */
}
.img {
}
p {
  color: white;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-image: url("./images/icons8-play-30.png"); /* Replace with your play icon image */
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .play-icon {
  visibility: visible;
  opacity: 1;
}

/* nav related styles */
.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.nav-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 147px;
  height: 53px;
}

.nav-title h3 {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
  font-family: Work Sans;
  font-weight: 700;
}
.Pink-text {
  color: #ff42a5;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  margin-left: 250px;
}
.nav-menu a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-right: 32px;
  margin-top: 54px;
  margin-bottom: 55px;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 262px;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: #0b0223;
}
.btn-text {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  height: 21px;
  width: 116px;
}
.social-icons {
  margin-top: 16px;
  margin-bottom: 16px;
  float: right;
}
.youtube {
  margin-right: 16px;
}

/* banner styles */
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 250px;
}
.banner-main {
  background-image: url(./images/Group\ 14.png);
  width: 900px;
  height: 700px;
  margin-right: 250px;
}
.banner-text {
  margin: 148px 305px 148px 244px;
  text-align: center;
}
.play-like {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  width: 348px;
  height: 56px;
}
.banner-title {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instant-play {
  display: flex;
  align-items: center;
}
.instant-play {
  display: flex;
  align-items: center;
}
.instant-play {
  display: flex;
  align-items: center;
}
.instant {
  color: #534c64;
  margin-left: 10px;
}
.signup {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background-color: #f948b2;
  border: none;
  margin-top: 40px;
  margin-right: 40px;
  color: white;
}
.rogue {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  color: white;
}
.banner-img {
  margin-left: 10px;
}

/* section styles */
.relative-btn-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
}

/* Footer styles */
/* footer {
  height: 636px;
  width: 1920px;
  background-color: #0b0223;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.footer-link-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.footer-links {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
} */
.footer-container {
  background-color: #0b0223;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.footer-links-container {
  color: white;
  display: flex;
  justify-content: center;
}
