/* General Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* nav related styles */
.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.nav-title {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 147px;
  height: 53px;
}

.nav-title h3 {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
  font-family: Work Sans;
  font-weight: 700;
}
.Pink-text {
  color: #ff42a5;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-right: 32px;
  margin-top: 54px;
  margin-bottom: 55px;
}
.nav-btn {
  width: 262px;
  height: 56px;
  border: none;
  border-radius: 8px;
  text-align: center;
  color: #0b0223;
}
.btn-text {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 18px;
  height: 21px;px;
  width: 116px ;
}

/* Footer styles */
